
<h1>Follower Users</h1>
<% if @users.count > 0 %>
   <table class="table">
   　<thead>
     　<tr>
     　   <th>image</th>
       　<th>name</th>
       　<th></th>
       　<th></th>
       　<th></th>
       </tr>
     </thead>
     <tbody>
     　<% @users.each do |user| %>
       　<tr>
       　   <td><%=attachment_image_tag uses, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg" %></td>
           <td><%= user.name %></td>
           <td>フォロー数：<%= user.follower.count %></td>
           <td>フォロワー数：<%= user.followed.count %></td>
          <td><%= link_to "Show", user %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>ユーザーはいません</p>
<% end %>