
<%= render 'users/sidebar', user: @user_sidebar, book: @book_sidebar %>
<div class="col-md-8 offset-md-1 py-2">
  <h2 class="py-2 mb-0">Users</h2>
  <table class="table">
    <tr>
      <th>image</th>
      <th>name</th>
      <th></th>
    </tr>
    <% @users.each do |users| %>
    <tr>
      <td><%=attachment_image_tag users, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg" %></td>
      <td><%= users.name %></td>
      <td>
        フォロー数: <%= users.follower.count %>
      </td>
      <td>
        フォロワー数: <%= users.followed.count %>
      </td>
      <td>
        <% if current_user != users %>
 　        <% if current_user.following?(users) %>
   　        <%= link_to 'フォロー外す', user_relationships_path(users.id), method: :delete %>
          <% else %>
   　        <%= link_to 'フォローする', user_relationships_path(users.id), method: :POST %>
          <% end %>
        <% end %>
      </td>
      <td><%= link_to "Show", user_path(users.id) %></td>
    </tr>
    <% end %>
  </table>
</div>
